#pagination {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-top: -50px;
  .pagination {
    display: flex;
    .page-item {
      width: 25px;
      height: 25px;
      list-style: none;
      background-color: #ffffff;
      margin-right: 10px;
      border-radius: 6px;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
      .page-link {
        width: 25px;
        height: 25px;
        color: #333333;
        font-size: 11px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 0px;
        outline: none;
        background-color: #ffffff;
        &:hover{
            cursor: pointer;
        }
      }
    }
  }
}
