#field{
    width: auto;
    .dv-label{
        font-size: 13px;
        font-weight: 700;
        color: #2b2b2bb4;
    }
    .dv-input-field{
        outline: 0;
        height: 35px;
        font-size: 13px;
        font-weight: 500;
        color: #2b2b2b88;
        margin-left: 10px;
        border-radius: 6px;
        padding-left: 15px;
        border: 1px solid #2b2b2b2f;
    }
}